#wrapper {
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    
}

.button a {
    text-transform: uppercase;
    color: #660033;
    text-decoration: none;
    }

.button {
    width: 230px;
    border-radius: 7px;
    background-color: #FF99CC;
    text-align: center;
    padding: 12px 0 12px 0;
    -webkit-animation-name: button;
    -webkit-animation-duration: 1s;
    -webkit-animation-play-state:paused;
    -webkit-animation-iteration-count: infinite;
}

.button: hover {
    -webkit-animation-play-state:running;
}


@-webkit-keyframes button {
    0% {background-color: #FF99CC}
    50% {background-color: #9900CC }
    100% {background-color: #FF99CC}
}