#wrapper {
    width: 80%;
    height: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    
}

.button a {
    text-transform: uppercase;
    color: #660033;
    text-decoration:none;
    font-size:large;
   
    }

.button {
    width: 250px;
    height: 70px;
    border-radius: 50px;
    background-color: deeppink;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px 0 12px 0;
   -webkit-animation-name: button;
    -webkit-animation-duration: 2s;
    -webkit-animation-play-state: paused; 
    -webkit-animation-iteration-count: infinite;
}

.button:hover {
    -webkit-animation-play-state: running;
}


@-webkit-keyframes button {
    0%{background-color:deeppink}
    50%{background-color: palevioletred}
    100%{background-color: deeppink}
}